<div class="loading-wave"></div>
<div class="flex-container">
  <div class="container">
    <div class="text-center">
    <img
      src="assets/image/logo.png"
      width="55px"
      alt="Logo empresa"/>
    </div>
      <h1 fon>Iniciar Sesión</h1>

      <form [formGroup]="loginForm"
        autocomplete="off"
        (ngSubmit)="login()">
          <div class="form-group">
              <label for="username">Nombre de Usuario</label>
              <input type="email" formControlName="email" placeholder="Correo electrónico"/>
            @if (isLogin && formLogin['email'].errors) {
              <small class="text-danger">
                El correo electrónico es requerido
              </small>
              } @if ( formLogin['email'].hasError('email') &&
              formLogin['email'].touched ) {
              <small class="text-danger"> Debe ser un correo electrónico </small>
              }
          </div>
          <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" formControlName="password" placeholder="Contraseña"/>
            @if (!!isLogin && formLogin['password'].hasError('required') ) {
              <small class="text-danger"> El password es Obligarotio </small>
              } @if (!!isLogin && formLogin['password'].hasError('minlength') ) {
              <small class="text-danger">
                La longitud de la contraseña debe ser mayor a 3 caracteres
              </small>
              }
          </div>
          <button type="submit" class="btn">Iniciar Sesión</button>
          <br>
          <a href="#" class="forgot">Se Te Olvido La Contraseña?</a>
      </form>
</div>
</div>


