<div class="container">
      <div class="card">
        <img [src]="base_url + '/' + producto.imagenPath">
        <div class="oninfo">
  
            <h5 class="info-card-nombre">{{producto.nombre}}</h5><br>
         
            <p class="info-card-sku">SKU: {{producto.sku}}</p><br>
          
            <p class="info-card-talla">Talla: {{producto.talla}}</p><br>
         
            <p class="info-card-precio">$ {{producto.precio}}</p><br>
         
            <p class="info-card-descripcion">Descripcion Del Producto: {{producto.descripcion}}</p><br>
        
        </div>
      </div>
</div>


