<nav>
  <div>
  <div class="logo" href="/" >
    <img src="./assets/image/logo.png"/>
  </div>
    <ul class="menu">
      @for (menu of menuItems; track $index) {
      <li class="menu-item">
        <i [class]="menu.icon"></i>
        <a [routerLink]="menu.path">{{ menu.title }}</a>
      </li>
      @if (menu.subMenu.length > 0 ) {

      <!-- Este es el subMenu -->
      <li class="menu-item dropdown">
        <a margin="8px"><i class="fa-solid fa-vest"></i></a>
        <ul class="dropdown-content">
          @for (subMenu of menu.subMenu; track $index) {
          <li>
            <i [class]="subMenu.icon"></i>
            <a [routerLink]="subMenu.path">{{ subMenu.title }}</a>
          </li>
          }
        </ul>
      </li>
      } }

      <a class="menu-item-cerrar" cursor= "pointer" (click)="cerrarSesion()">
        <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
      </a>
    </ul>
  </div>
</nav>

