<!-- <button (click)="cambioArticulo()">Articulos</button>
<button routerLink="persona">Personas</button>
<button routerLink="imagen">Imagenes</button>
<button (click)="cambioInicio()">Inicio</button> -->

    <div class="hero-image">
        <div class="hero-text">
            <h1>Bienvenido a nuestra Tienda de Ropa de Segunda Mano</h1>
            <p>¡Descubre las mejores ofertas en ropa de segunda mano!</p>
            <p>¡Compra Ahora!</p>
        </div>
    </div>

    <div class="sobre-nosotros">
      <h2>Sobre Nosotros</h2>
      <p>Somos una tienda comprometida con el medio ambiente y la economía circular. Ofrecemos ropa de segunda mano de alta calidad a precios asequibles.</p>
    </div>
