<div class="contenedor-cards">
  <div class="cards">
      <div class="card-cabeza">
          Vende tu Ropa
      </div>
      <div class="card-cuerpo">
          <form [formGroup]="productoForm" (ngSubmit)="crearProducto()">
              <div class="campo-nombre">
                  <input type="text" class="form-control" placeholder="nombre" formControlName="nombre" >
              </div>
              <div class="campo-sku">
                <input type="text" class="form-control" formControlName="sku" placeholder="sku" >
              </div>
              <div class="campo-precio">
                <input type="text" class="form-control" formControlName="precio" placeholder="precio" >
              </div>
              <div class="campo-talla">
                <input type="text" class="form-control" formControlName="talla" placeholder="talla">
              </div>
              <div class="campo-descripcion">
                  <input type="text" class="form-control" formControlName="descripcion" placeholder="descripcion">
              </div>

              <input type="file" class="input-foto" (change)="onPhotoSelected($event)" #photoInput>
              <img [src]="photoSelected || 'assets/no-image.png'" class="ingreso-imagen" alt="No image"
                  (click)="photoInput.click()">
              <br>
              <button class="BOTON-VENDER">
                  Vender Prenda
              </button>
          </form>
      </div>
  </div>
</div>
